i {
    font-size: 22px;
}

table {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}

table, th, td {
    font-size: 30px;
    width: 800px;
    border: 4px solid #000000;
    background-color: #f1f1f1;
    border-collapse: collapse;
}

#contact_icons {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-bottom: 20px;
}

#contact_icons > a, img {
    width: 160px;
}

iframe {
    margin-bottom: 20px;
}

@media (max-width: 1150px) {
    table, th, td {
        font-size: 15px;
        width: 700px;
    }

    #contact_icons > a > img {
        width: 100px;
    }
}

@media (max-width: 810px) {
    table, th, td {
        width: 400px;
    }

    #contact_icons {
        gap: 5px;
    }

    #contact_icons > a > img {
        width: 65px;
    }

    iframe {
        width: 400px;
    }
}