i {
    font-size: 22px;
}

table {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}

table, th, td {
    font-size: 30px;
    width: 1100px;
    border: 4px solid #000000;
    background-color: #f1f1f1;
    border-collapse: collapse;
}

@media (max-width: 1150px) {
    table, th, td {
        font-size: 15px;
        width: 800px;
    }

    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

@media (max-width: 810px) {
    table, th, td {
        width: 400px;
    }
}